name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: [self-hosted, linux, terraform-runner]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run a one-line script
        run: echo "Hello from SELF-HOSTED RUNNER!"

      - name: Run a multi-line script
        run: |
          echo "This job is running on your AWS EC2 self-hosted runner."
          echo "Add more scripts or Terraform steps here."
