name: Terraform PROD Deployment

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: "ap-south-1"
  ROLE_ARN: "arn:aws:iam::440185825337:role/terraform-deployer-role"
  TF_DIR: "terraform/infra-prod"

jobs:
  plan:
    name: Terraform PROD Plan
    environment: prod-plan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform -chdir=${{ env.TF_DIR }} init

      - name: Terraform Plan
        run: terraform -chdir=${{ env.TF_DIR }} plan -input=false

  apply:
    name: Terraform PROD Apply
    environment: prod-apply
    runs-on: ubuntu-latest
    needs: plan
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform -chdir=${{ env.TF_DIR }} init

      - name: Terraform Apply
        run: terraform -chdir=${{ env.TF_DIR }} apply -auto-approve
